<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Eats</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='restaurant_profile.css')}}"
    />
    <link
  </head>
  <body>
    <section id="page">
      <header>
        <div class="head_contain">
          <div class="title"><h2>My Eats</h2></div>
          <div>
            <!-- welcome {restuarnt name} or {user name} depending on who's logged in -->
            Welcome, {{restaurant.restaurant_name}}
            {% if session['user_id']%}
            <a href="/dashboard">Dashboard</a>
            {% elif session['restaurant_id']%}
            <a href="/restaurants/dashboard/{{restaurant.id}}">Dashboard</a>
            {% endif %}
            <a href="/logout">Logout</a>
          </div>
        </div>
      </header>
      <nav>
        <div class="posts_container">
          <div class="user_post">
            <div style="padding: 0.5em">
              <img src="../static/images/kelvin.jpg" alt="user_image" />
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  padding: 0.5em;
                "
              >
                <h4>User Name</h4>
                <h5>Date</h5>
              </div>
              <div id="post_content">
                <p>
                  Posts Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Amet, mollitia.
                </p>
              </div>
              <!-- <div id="post_comment" style="padding: 0.5em">
                <p>user 1: comments</p>
              </div> -->
              <div style="margin: 0.25em 1em">
                <div id="options">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#postResponseleModal"
                    style="
                      width: 100%;
                      border-radius: 25px 25px 25px 25px;
                      cursor: pointer;
                    "
                  >
                    Respond
                  </button>
                  <!-- modal to respond to post -->
                  <div
                    class="modal fade"
                    id="postResponseleModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Respond to (users post)
                          </h5>
                        </div>
                        <div class="modal-body">
                          <!-- form to respond to post -->
                          <form action="">
                            <textarea
                              name="content"
                              cols="30"
                              rows="4"
                              placeholder="comment"
                              style="width: 100%"
                            ></textarea>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-light">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user_post">
            <div style="padding: 0.5em">
              <img src="../static/images/kelvin.jpg" alt="user_image" />
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  padding: 0.5em;
                "
              >
                <h4>User Name</h4>
                <h5>Date</h5>
              </div>
              <div id="post_content">
                <p>
                  Posts Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Amet, mollitia.
                </p>
              </div>
              <!-- <div id="post_comment" style="padding: 0.5em">
                <p>user 1: comments</p>
              </div> -->
              <div style="margin: 0.25em 1em">
                <div id="options">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#postResponseleModal"
                    style="
                      width: 100%;
                      border-radius: 25px 25px 25px 25px;
                      cursor: pointer;
                    "
                  >
                    Respond
                  </button>
                  <!-- modal to respond to post -->
                  <div
                    class="modal fade"
                    id="postResponseleModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Respond to (users post)
                          </h5>
                        </div>
                        <div class="modal-body">
                          <!-- form to respond to post -->
                          <form action="">
                            <textarea
                              name="content"
                              cols="30"
                              rows="4"
                              placeholder="comment"
                              style="width: 100%"
                            ></textarea>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user_post">
            <div style="padding: 0.5em">
              <img src="../static/images/kelvin.jpg" alt="user_image" />
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  padding: 0.5em;
                "
              >
                <h4>User Name</h4>
                <h5>Date</h5>
              </div>
              <div id="post_content">
                <p>
                  Posts Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Amet, mollitia.
                </p>
              </div>
              <!-- <div id="post_comment" style="padding: 0.5em">
                <p>user 1: comments</p>
              </div> -->
              <div style="margin: 0.25em 1em">
                <div id="options">
                  <button
                    type="button"
                    class="btn btn-light"
                    data-toggle="modal"
                    data-target="#postResponseleModal"
                    style="
                      width: 100%;
                      border-radius: 25px 25px 25px 25px;
                      cursor: pointer;
                    "
                  >
                    Respond
                  </button>
                  <!-- modal to respond to post -->
                  <div
                    class="modal fade"
                    id="postResponseleModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Respond to (users post)
                          </h5>
                        </div>
                        <div class="modal-body">
                          <!-- form to respond to post -->
                          <form action="">
                            <textarea
                              name="content"
                              cols="30"
                              rows="4"
                              placeholder="comment"
                              style="width: 100%"
                            ></textarea>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary">
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          data-toggle="modal"
          data-target="#leaveReviewModal"
          class="btn btn-primary"
          style="margin: 1.5em"
        >
          Leave a Review
        </button>

        <div
          class="modal fade"
          id="leaveReviewModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Post a Review
                </h5>
              </div>
              <div class="modal-body">
                <!-- form to respond to post -->
                <form action="">
                  <textarea
                    name="content"
                    cols="30"
                    rows="4"
                    placeholder="comment"
                    style="width: 100%"
                  ></textarea>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <section>
        <div
          class="restaurant_info"
          style="display: flex; flex-direction: column"
        >
          <h1>{{restaurant.restaurant_name}}</h1>
          <h5>{{restaurant.restaurant_street}}</h5>
          <h5>
            {{restaurant.restaurant_city}}, {{restaurant.restaurant_state}}
          </h5>
        </div>
        <div class="options" style="display: flex; flex-direction: column; align-items: center; cursor: pointer;">
           <p style="font-size: 24px;">&#9734</p>
          <a href="">View Menu</a>
        </div>
      </section>
      <main>
        <div class="restaurants_container">
          <!-- loop through all restaurants in database -->
          <div id="restaurants">
            {% for restaurant in restaurants %}
            <div class="restaurants_card">
              <div id="restaurant">
                <h5>{{restaurant.restaurant_name}}</h5>
                <img
                  src="https://grillrock.co.uk/wp-content/uploads/2020/05/79466132-675838759615798-1139882034682171695-n-1582131948.jpg"
                  alt="restaurant"
                  width="200"
                  height="200"
                />
                <p>Description of menu item</p>
                <p>Price of menu item</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </main>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
