* {
  margin: 0;
  padding: 0;
  /* outline: 1px dashed red; */
}

h5 {
  font-size: 14px;
}

h4 {
  font-size: 12px;
}

a {
  font-size: 12px;
}

#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
    "head head head"
    "main section nav"
    "main section nav";
  grid-template-rows: 10% 90%;
  grid-template-columns: 20% 60% 20%;
}

#page > header {
  grid-area: head;
  align-self: center;
  justify-self: end;
  width: 80%;
}

.head_contain {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.head_contain a {
  margin: 2em;
}

#user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#user_info img {
  width: 50%;
  border-radius: 50%;
  border: 1px solid black;
  margin-bottom: 0.5em;
}

#page > section {
  grid-area: section;
  border: 1px solid gray;
  border-radius: 35px 35px 35px 35px;
  margin: 1em;
  overflow-y: scroll;
  scrollbar-width: none;
}

#page > section::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.post_imgs {
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  padding: 2em;
}

.post_imgs::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.post_imgs img {
  border: 1px solid black;
  border-radius: 35px 35px 35px 35px;
  margin: 1em;
}

/* FRIENDS/SUGGESTIONS */
#page > nav {
  grid-area: nav;
  border: 1px solid gray;
  border-radius: 35px 35px 35px 35px;
  margin: 1em;
  overflow-y: scroll;
  scrollbar-width: none;
}

#page > nav::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#friends {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1em;
  justify-content: space-between;
  justify-self: start;
}

#friends img {
  width: 60px;
  border-radius: 50%;
}

/* #page > main {
  grid-area: main;
  border: 1px solid gray;
  border-radius: 35px 35px 35px 35px;
  margin: 1em;
} */
